body {
   font-family: "Space Mono", monospace;
   color: #666666;
   background-color: #353535;
   padding: 1em;
}

a {
   color:#666666;
}

a:link {
   color:#666666;
}

a:visited {
   color:#666666;
}

a:hover {
   color:#666666;
}

a:active {
   color:#666666;
}

img  {
   width: 15vw;
   display: block;
}

.imgBar{
   position: relative;
}

.imgBar:hover .image {
  opacity: 0.3;
}

.imgBar:hover .centered {
  opacity: 1;
}

.centered {
   transition: .3s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

.image, .imgBar {
   display: block;
   margin: 0px;
   padding: 0px;
   border: 0px;
   transition: all .3s;
}

.accordion {
   display: flex;
   flex-wrap: wrap;
   transition: all .3s;
}

.climbing{
   height:15em;
   width:auto;
   padding:0;
}

.fa {
   padding: 0;
   padding-right: 1em;
   font-size: 1em;
   width: 1em;
   text-align: center;
   text-decoration: none;
   background: transparent;
   color: white;
}
