body {
   font-family: "Space Mono", monospace;
   color: #A0A0A0;
   background-color: #353535;
   padding: 1em;
}

a {
   color:#F0F0F0;
}

a:link {
   color:#F0F0F0;
}

a:visited {
   color:#C0C0C0;
}

a:hover {
   color:#F0F0F0;
}

a:active {
   color:#F0F0F0;
}

img  {
   width: 15vw;
   display: block;
}

.imgBar{
}

.centered {
  position: absolute;
  color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image, .imgBar {
   display: block;
   margin: 0px;
   padding: 0px;
   border: 0px;
   transition: all .3s;
}

.accordion {
   display: flex;
   flex-wrap: wrap;
   transition: all .3s;
}
